{% extends "./index.html" %} {% load static %}

{% block body %}
<!DOCTYPE html>

<html style="font-size: 16px;" lang="en">

<body class="u-body u-xl-mode" data-lang="en">
    <section class="u-clearfix u-text-body-color u-section-4" id="sec-8a74">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-1">
                            <img alt="" class="u-expanded-width u-image u-image-default u-image-1"
                                data-image-width="2000" data-image-height="1333"
                                src="https://i.ibb.co/MSWrZKF/john-o-nolan-u-MWPrc-Rsrto-unsplash.jpg">
                            <h3 class="u-text u-text-default u-text-4">Learn Better</h3>
                            <p class="u-text u-text-2">Funding helps onboard strong technical specialists who can help educate youth about coding</p>
                            <p class="u-text u-text-3">Target Goal: $1000 | Match Impact: 3x</p>
                            <a href=""
                                class="u-border-none u-btn u-btn-round u-button-style u-custom-font u-grey-15 u-heading-font u-hover-palette-1-light-1 u-radius-14 u-btn-1">donate</a>
                        </div>
                    </div>
                    <div style="padding: 5px" class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-2">
                            <img alt="" class="u-expanded-width u-image u-image-default u-image-2"
                                data-image-width="2000" data-image-height="1333"
                                src="https://i.ibb.co/MSWrZKF/john-o-nolan-u-MWPrc-Rsrto-unsplash.jpg">
                            <h3 class="u-text u-text-default u-text-4">Explorer Action</h3>
                            <p class="u-text u-text-5">Overseas exploration trips to help developers meet the people they're developing products for.</p>
                            <p class="u-text u-text-6">Target Goal: $2500 | Match Impact 100x </p>
                            <a href=""
                                class="u-border-none u-btn u-btn-round u-button-style u-custom-font u-grey-15 u-heading-font u-hover-palette-1-light-1 u-radius-14 u-btn-2">donate</a>
                        </div>
                    </div>
                    <div style="padding: 5px" class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-3">
                            <img alt="" class="u-expanded-width u-image u-image-default u-image-3"
                                data-image-width="2000" data-image-height="1333"

                                src="https://i.ibb.co/MSWrZKF/john-o-nolan-u-MWPrc-Rsrto-unsplash.jpg">
                            <h3 class="u-text u-text-default u-text-4">Eco Lab</h3>
                            <p class="u-text u-text-8">High School Biology Club in Northern Plains is creating a composting system for their town.</p>
                            <p class="u-text u-text-9">Target Goal: $200 | Match Impact: 20x</p>
                            <a href=""
                                class="u-border-none u-btn u-btn-round u-button-style u-custom-font u-grey-15 u-heading-font u-hover-palette-1-light-1 u-radius-14 u-btn-3">donate</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-text-body-color u-section-4" id="sec-8a74">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div style="padding: 5px" class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-1">
                            <img alt="" class="u-expanded-width u-image u-image-default u-image-1"
                                data-image-width="2000" data-image-height="1333"
                                src="https://i.ibb.co/yWx1Fbk/chuttersnap-g-DDas5-ALRw-unsplash.jpg">
                            <h3 class="u-text u-text-default u-text-4">Green Academy</h3>
                            <p class="u-text u-text-2">Education for youth about climate change. We provide online learning and in-person sessions.</p>
                            <p class="u-text u-text-3">Target Goal: $5000 | Match Impact: 2x </p>
                            <a href=""
                                class="u-border-none u-btn u-btn-round u-button-style u-custom-font u-grey-15 u-heading-font u-hover-palette-1-light-1 u-radius-14 u-btn-1">donate</a>
                        </div>
                    </div>
                    <div style="padding: 5px" class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-2">
                            <img alt="" class="u-expanded-width u-image u-image-default u-image-2"
                                data-image-width="2000" data-image-height="1333"
                                src="https://i.ibb.co/yWx1Fbk/chuttersnap-g-DDas5-ALRw-unsplash.jpg">
                            <h3 class="u-text u-text-default u-text-4">CO2/Methane Emissions Alternatives</h3>
                            <p class="u-text u-text-5">From burning fossil fuels for automobiles and energy to widespread cow farts, CO2/Methane emissions destroy our ozone layer.</p>
                            <p class="u-text u-text-6">Target Goal: $600 | Match Impact: 3x</p>
                            <a href=""
                                class="u-border-none u-btn u-btn-round u-button-style u-custom-font u-grey-15 u-heading-font u-hover-palette-1-light-1 u-radius-14 u-btn-2">donate</a>
                        </div>
                    </div>
                    <div style="padding: 5px" class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-3">
                            <img alt="" class="u-expanded-width u-image u-image-default u-image-3"
                                data-image-width="2000" data-image-height="1333"
                                src="https://i.ibb.co/yWx1Fbk/chuttersnap-g-DDas5-ALRw-unsplash.jpg">
                            <h3 class="u-text u-text-default u-text-4">Taco Kale</h3>
                            <p class="u-text u-text-8">Educating students about the health benefits of kale. In our course, we provide kale information.</p>
                            <p class="u-text u-text-9">Target Goal: $100 | Match Impact: 1x</p>
                            <a href=""
                                class="u-border-none u-btn u-btn-round u-button-style u-custom-font u-grey-15 u-heading-font u-hover-palette-1-light-1 u-radius-14 u-btn-3">donate</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>

</html>

{% endblock %}